:root {
    --bg-color: #f7f7f7;
    --bg-inverted-color: #1a1a1a;

    --primary-color: #3498db;
    --secondary-color: #2ecc71;

    --inverted-primary-color: #e74c3c;
    --inverted-secondary-color: #f39c12;
}